*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Satisfy';
    background: #00000033;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.title{
    width: 100%;
    background: #34c017d0;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    max-width: 320;
    max-height: 90;
}

.title h1{
    color: #ffffff;
    font-size: 60px;
    font-weight: 180;
    text-align: center;
}

.Navegacion{
    width: 100%;
    background: #464444b7;   
    display: flex;
    justify-content: center;
}

.menu{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    height: 80px;
}

.menu li{
    flex-basis: 0;
    flex-grow: 1;
    border-right: 2px solid #000F;
    position: relative;
}

.menu li a{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.menu .imagen{
    position: absolute;
    bottom: 0;
    width: 0px;
    right: 30px;
    z-index: 20;

    -webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
    -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
      -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
         transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
 
 -webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
    -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
      -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
         transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
 
     -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
 box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);

}

.menu li a .text-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(0, 0, 0);
    top: 0%;
    position: absolute;
    z-index: 10;

    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.menu .first-item{
    border-left: 1px solid rgb(0, 0, 0);
}


.menu li a .down-item{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);

    -webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);

    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.menu li:hover .down-item, .menu li:hover .text-item{
    top: 100%;
    height: 80%;
}

.menu li:hover .imagen{
    width: 100%;
    right: 0px;
}









 